<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation</title>
</head>
<body>
    <h2 style="color: blue;">{{title}}</h2>
    <form action="/users/submit" method="post" style="color:white;">
        <label for="">User name 
             <input type="text" placeholder="User name" name="username">
        </label><br>
        <label for="">Phone Number
             <input type="text" placeholder="User name" name="phonenumber">
        </label><br>
        <label for="">Email Adress 
             <input type="text" placeholder="User name" name="email">
        </label><br>
        <label for="">Password
            <input type="password" placeholder="Password" name="password">
        </label><br>
        <button type="submit">Submit</button>
       
    </form>
</body>
</html>